@charset "UTF-8";
/* CSS Document */

	div {
			background-color: white;
			font-size: 30pt;
			font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
			color: indianred;
			text-align: center;
			width: 600px;
			padding: 10px;
			border: 10px solid indianred;	
			
		}
		
		#boxes {
			content: "";
			display: table;
			clear: both;
			margin: auto
		}
		
		#column1 {
			background-color: white;
			color: indianred;
			width: 600px;
			margin-bottom: 10px;
	
		}
		#column2 {
			background-color: white;
			color: indianred;
			width: 600px;
			margin-bottom: 10px;
		}
		#column3 {
			background-color: white;
			color: indianred;
			width: 600px;
			margin-bottom: 10px;
		}
		#column4 {
			background-color: white;
			color: indianred;
			width: 600px;
			margin-bottom: 10px;
		}
		#column5 {
			background-color: white;
			color: indianred;
			width: 600px;
		}